<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vitascan</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/mediaqueries.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="logo">Vitascan</div>
      <div class="nav_items">
        <ul class="nav_links">
          <li><a href="#Services">Services</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact us</a></li>
        </ul>
      </div>
    </nav>
    <section id="profile">
      <div class="section_pic_container">
        <img
          src="{{ url_for('static', filename='assets/images/about_logo.png') }}"
          alt="About_logo"
        />
      </div>
      <div class="section_text">
        <h1 class="title">Heart Disease Predictor</h1>
        <p class="section_text_p2">
          Cardiovascular diseases (CVDs) are the number 1 cause of death
          globally, taking an estimated 17.9 million lives each year, which
          accounts for 31% of all deaths worldwide. Four out of 5CVD deaths are
          due to heart attacks and strokes, and one-third of these deaths occur
          prematurely in people under 70 years of age. Heart failure is a common
          event caused by CVDs and this dataset contains 11 features that can be
          used to predict a possible heart disease.
        </p>
      </div>
    </section>
    <section id="about">
      <form method="POST">
        <div class="form-group">
          <label for="input1">Age</label>
          <input
            type="number"
            class="form-control"
            id="input1"
            name="input1"
            required
          />
        </div>
        <div class="form-group">
          <label for="input2">Select Gender</label>
          <select class="form-control" id="input2" name="input2" required>
            <option value="M">M</option>
            <option value="F">F</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input3">Chest_Pain_Type</label>
          <select class="form-control" id="input3" name="input3" required>
            <option value="ASY">ASY</option>
            <option value="ATA">ATA</option>
            <option value="NAP">NAP</option>
            <option value="TA">TA</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input4">Resting_Bp</label>
          <input
            type="number"
            class="form-control"
            id="input4"
            name="input4"
            required
          />
        </div>
        <div class="form-group">
          <label for="input5">Fasting_Bs</label>
          <select class="form-control" id="input5" name="input5" required>
            <option value="0">0</option>
            <option value="1">1</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input6">RestingECG</label>
          <select class="form-control" id="input6" name="input6" required>
            <option value="LVH">LVH</option>
            <option value="Normal">Normal</option>
            <option value="ST">ST</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input7">ExerciseAngina</label>
          <select class="form-control" id="input7" name="input7" required>
            <option value="N">N</option>
            <option value="Y">Y</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input8">Old_Peak</label>
          <input
            type="number"
            class="form-control"
            id="input8"
            name="input8"
            required
          />
        </div>
        <div class="form-group">
          <label for="input9">ST_Slope</label>
          <select class="form-control" id="input9" name="input9" required>
            <option value="Down">Down</option>
            <option value="Flat">Flat</option>
            <option value="Up">Up</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% if prediction is not none %}
      <div class="mt-4">
        <h2>Prediction: {{ prediction }}</h2>
      </div>
      {% endif %}
    </section>

    <section id = 'Services'>
        <p class="section__text__p1">All Services</p>
        <h1 class="title">Currently Avaliable</h1>
        <div class="experience-details-container">
            <div class="about-containers">
            <div class="details-container color-container">
                <div class="article-container">
                <img
                    src="/assests/heart_image.jpeg"
                    alt="Project 1"
                    class="project-img"
                />
                </div>
                <h2 class="experience-sub-title project-title">Heart</h2>
                <div class="btn-container">
                <button
                    class="btn btn-color-2 project-btn"
                    onclick="location.href='https://github.com/Manikanta0997/Heart_Disease_Predictor_Vercel_App'"
                >
                    Github
                </button>
                <button
                    class="btn btn-color-2 project-btn"
                    onclick="location.href='https://heart-disease-predictor-vercel-app.onrender.com'"
                >
                    Live Demo
                </button>
                </div>
            </div>
            <div class="details-container color-container">
                <div class="article-container">
                <img
                    src="assests/chest.jpg"
                    alt="Project 3"
                    class="project-img"
                />
                </div>
                <h2 class="experience-sub-title project-title">Chest</h2>
                <div class="btn-container">
                <button
                    class="btn btn-color-2 project-btn"
                    onclick="location.href='https://github.com/Manikanta0997/Chest_Xray_Pneumonia_Detection'"
                >
                    Github
                </button>
                <button
                    class="btn btn-color-2 project-btn"
                    onclick="location.href='https://chest-xray-pneumonia-detection.onrender.com'"
                >
                    Live Demo
                </button>
                </div>
            </div>
            <div class="details-container color-container">
                <div class="article-container">
                <img
                    src="/assests/brain.jpg"
                    alt="Project 3"
                    class="project-img"
                />
                </div>
                <h2 class="experience-sub-title project-title">Brain</h2>
                <div class="btn-container">
                <button
                    class="btn btn-color-2 project-btn"
                    onclick="location.href='https://github.com/Manikanta0997/Brain_Tumour_Detection_Vitascan_R'"
                >
                    Github
                </button>
                <button
                    class="btn btn-color-2 project-btn"
                    onclick="location.href='https://brain-tumour-detection-vitascan-r.onrender.com'"
                >
                    Live Demo
                </button>
                </div>
            </div>
            </div>
        </div>
    </section>
    <section id="contact">
      <p class="section__text__p1">Get in Touch</p>
      <h1 class="title">Contact Me</h1>
      <div class="contact-info-upper-container">
        <div class="contact-info-container">
          <img
            src="{{ url_for('static', filename='assets/images/email.png') }}"
            alt="Email icon"
            class="icon contact-icon email-icon"
          />
          <p>
            <a href="mailto:manikantajarvis@gmail.com"
              >manikantajarvis@gmail.com</a
            >
          </p>
        </div>
        <div class="contact-info-container">
          <img
            src="{{ url_for('static', filename='assets/images/linkedin.png') }}"
            alt="LinkedIn icon"
            class="icon contact-icon"
          />
          <p>
            <a href="https://www.linkedin.com/in/mohana-manikanta-reddy-padala/"
              >LinkedIn</a
            >
          </p>
        </div>
      </div>
    </section>
    <footer>
      <nav>
        <div class="nav-links-container">
          <ul class="nav_links">
            <li><a href="#about">About</a></li>
            <li><a href="#Services">Services</a></li>
            <li><a href="#Contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <p>Copyright &#169; 2024 Mani Kanta. All Rights Reserved.</p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
